.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    & .cardContainer {
        width: 70%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        padding: 2rem;
    }
    & main {
        width: 100%;

        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5rem;

            & .formDiv {
                width: 100%;
            }
        }
    }

}