.FormLogin {
    display: grid;
    grid-template-columns: 60rem 1fr;

    .DivImg {
        background-image: url('../img/imageTelaLogin.png');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .DivForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        .DivCamposForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;

            form {
                display: flex;
                max-width: 30rem;
                flex-direction: column;
                width: 20rem;
                gap: 1rem;


                input {
                    border: 1px solid #7fe613;
                }

                label {
                    color: rgba(0, 0, 0, 0.607);
                }

                #labelSenha,
                #labelUsuario {
                    display: flex;
                    flex-direction: row;
                    gap: 0.1rem;
                    margin-left: 0.4rem;
                }

                input[type="text"]:focus,
                input[type="password"]:focus {
                    box-shadow:0px 0px 20px #7fe613;
                }

                .footerForm {
                    & input[type="checkbox"]:focus{
                        border: 1px solid #7fe613;
                    }
                    & input[type="checkbox"]:focus{
                        box-shadow: none !important;
                    }
                    & input[type="checkbox"]:hover{
                        box-shadow: 0px 0px 10px #7fe613 !important;
                    }
                    & input[type="checkbox"]:checked{
                        box-shadow: 0px 0px 10px #7fe613 !important;
                        background-color: #7fe613;
                        color: #ffff;
                    }
                }


                .lembraDeMin {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0.4rem;

                }

                .footerForm {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    a {
                        text-decoration: none;
                        color: black;
                        cursor: pointer;
                    }
                }

                button {
                    width: 20rem;
                    height: 2.3rem;
                    background-color: #ffff;
                    font-weight: bold;
                    color: #7fe613;
                    border: 1px solid #7fe613;
                    border-radius: 8px;
                }

                button:hover {
                    background-color: #7fe613;
                    color: #ffff;
                    border: 3px solid #7fe613;
                }
            }

            .LogarComOutros {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                text-align: center;
                width: 20rem;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 4rem;
                    gap: 1rem;
                    width: 20rem;
                    height: 2.3rem;
                    background: none;
                    border: 1px solid #7fe613;
                    color: #7fe613;
                    border-radius: 8px;
                }

                a:hover {
                    background: #7fe613;
                    border: 1px solid #7fe613;
                    color: #ffff;
                }
            }
        }

        .Registrar {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            span {
                font-weight: lighter;
            }
        }
    }
}