.FormContent{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 8px;
}
.FormContent form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.FormContent form input{
    width: 15rem;
    height: 2.8rem;
    border-radius: 8px;
    border: none;
    background-color: var(--cinza-100);
    padding-left: 1rem;
}
.FormContent form input:focus{
    border: 3px solid var(--verde-500);
    outline: none;
}

.FormContent button{
    width: 15rem;
    height: 2.4rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    background-color: var(--verde-500);
    color: var(--cinza-100);
    cursor: pointer;
}
.FormContent button:hover{
    color: var(--branca);
    background-color: var(--verde-300);
}
.FormContent form label .checkBox{
    accent-color:var(--verde-300);
    width: 1.3rem;
}
.FormContent form label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--cinza-100);
}
@media (max-width: 768px){
    .FormContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        max-height: 100vh;
    }
    .FormContent form{
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .FormContent form input{
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
