.menu{
    display: flex;
    flex-direction: column;
    background-color: #92D500;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.ContenteMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    gap:3rem;
}
.ContenteMenu span{
    font-size: 1.6rem;
}
.ContenteMenu a{
    text-decoration: none;
    color:  #FFFFFF;
}