.FormLogin {
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vb;
    width:  100%;
    background-image: url('./img/PlanoDeFundoLogin.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220,0.4);
    padding: 3rem;
    border-radius: 25px;
}

.FormLogin main {
    position: initial;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.FormLogin main .LogarComOutros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.FormLogin main .LogarComOutros span {
    color: var(--cinza-100);
    font-size: 1rem;
    font-weight: bold;
}
.FormLogin main .LogarComOutros .buttonsLoginAlt {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--verde-500);
    color: var(--cinza-100);
    padding: 0.5rem;
    width: 15rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}
.FormLogin main .LogarComOutros .buttonsLoginAlt:hover{
    color: var(--branca);
    background-color: var(--verde-300);
}
.FormLogin main .LogarComOutros a:nth-child(4),a:last-child{
    color: var(--branca);
}
.FormLogin main .LogarComOutros a:hover{
    color: var(--branca);
}
