.titleContainer {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--marron-logo);
    margin-bottom: 0.4rem;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 1fr;
    

    .noticiaPrincipal {
        width: 99%;
        transition:all ease 1s;
        .card {
            height: 50.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-position: center center;
            background-size: cover;
        }
        
        .title {
            font-family: Outfit, sans-serif;
            font-weight: 600;
            color: var(--mantine-color-white);
            line-height: 1.2;
            font-size: 32px;
            margin-top: var(--mantine-spacing-xs);
        }
        
        .category {
            color: var(--mantine-color-white);
            opacity: 0.7;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .noticiaSecundaria {
        width: 99%;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0.5rem;
        height: 25rem;
        transition: all ease 1s;
        
        .card {
            height: 25rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-position: center center;
            background-size: cover;
        }
        
        .title {
            font-family: Outfit, sans-serif;
            font-weight: 600;
            color: var(--mantine-color-white);
            line-height: 1.2;
            font-size: 32px;
            margin-top: var(--mantine-spacing-xs);
        }
        
        .category {
            color: var(--mantine-color-white);
            opacity: 0.7;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .noticiaPrincipal:hover , .noticiaSecundaria:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 1fr 1fr;
        gap: 0.5rem;
    }
}